/* Body */
body {
  width: 320px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  padding: 1px;
  margin: 0 auto;
}

/* Anchor */
a {
  font-size: 0.8rem;
  color: gray;
}

a:hover {
  color: white;
}

/* Horizontal Divider */
hr {
  opacity: 0.3;
  margin: 0 16px;
}

/* Input */
input[type="range"] {
  display: inline-flex;
  width: 80%;
  height: 10px;
  margin: 16px 0;
  accent-color: rgb(0, 255, 157);
}

/* App */
.ytmc-app {
  position: relative;
  background: linear-gradient(0deg, #000, #141414);
  padding: 16px 16px 32px 16px;
}

.ytmc-app:before,
.ytmc-app:after {
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  background: linear-gradient(90deg, red, magenta, orange, yellow, orange, magenta, red);
  background-size: 400%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
}

.ytmc-app-animated,
.ytmc-app-animated:before,
.ytmc-app-animated:after {
  animation: steam 10s linear infinite;
}

/* Title */
.ytmc-title {
  display: block;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Container */
.ytmc-container {
  margin-top: 24px;
}

/* Range Input Label */
.ytmc-range-title {
  font-size: 1.1rem;
  margin: 0;
}

/* Range Input Value */
.ytmc-range-value {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

/* Range Input Min Max Value */
.ytmc-range-min-max {
  font-size: 1.1em;
  display: inline-flex;
  color: lightgray;
}

/* Honk Font */
.ytmc-honk {
  font-family: "Honk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

/* Video Info */
.ytmc-video-info-container {
  display: block;
  margin-top: 32px;
}

.ytmc-video-title {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0;
}

/* Controls */
.ytmc-controls-container {
  position: relative;
}

.ytmc-controls-container:before,
.ytmc-controls-container:after {
  content: '';
  position: absolute;
  left: -1px;
  top: -1px;
  background: linear-gradient(90deg, red, magenta, orange, yellow, orange, magenta, red);
  background-size: 400%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  z-index: -1;
}

.ytmc-control-button {
  background-color: transparent;
  border: none;
  margin: 8px;
  padding: 16px;
  color: white;
  cursor: pointer;
}

.ytmc-control-button>img {
  width: 32px;
  height: 32px;
}

.ytmc-control-button:hover {
  transform: scale(1.25);
}

.ytmc-control-button:enabled {
  opacity: 1;
  transition: transform 0.2s ease-in-out;
}

.ytmc-control-button:disabled {
  opacity: 0.5;
  transform: scale(1);
  /* Prevent scaling */
  cursor: default;
  /* Revert cursor */
  pointer-events: none;
  /* Prevent clicks */
}

/* Version Text */
.ytmc-version-text {
  font-size: 0.8rem;
  color: gray;
}

/* Animations */
@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}